.btn {
  height: fit-content;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  margin: 4px 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: #cc8328;
  color: white;
  cursor: pointer;
}

.btn-secondary {
  border: none;
  background-color: #5c846b;
  color: white;
  cursor: pointer;
}

.btn-tertiary {
  border: none;
  background-color: #283044;
  color: white;
  cursor: pointer;
}

.btn-underline {
  color: #739e82;
  background-color: transparent;
  text-decoration: underline;
  border: 2px solid transparent;
}

.btn-outline {
  color: #739e82;
  background-color: #ffffff;
  border: 2px solid #739e82;
}

.btn-underline:hover {
  border: 2px solid #739e82;
}

.btn-small {
  padding: 8px 14px;
  font-size: 12px;
}
/* .btn:hover {
  background: #ffffff;
  border-color: #55868c;
  color: #55868c;

} */

.bubble {
  border-radius: 20px;
  padding: 8px 16px;
  margin: 4px;
  font-size: 16px;
  background: #739e82;
  border: 3px solid #649074;
  color: #ffffff;
  cursor: "default";
}

.bubble:hover {
  background: #649074;
  color: #ffffff;
}

.text-btn {
  background: none;
  border: none;
  color: #55868c;
  cursor: pointer;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.text-btn:hover {
  text-decoration: underline;
}
.btn-small {
  font-size: small;
}

.btn-orange {
  color: #ff8811;
}

.btn-carousel {
  background: #55868c;
  color: #ffffff;
  border: 2px solid #55868c;
  border-radius: 16px;
  padding: 4px 12px;
  margin: 4px;
  pointer-events: all;
}

.invisible {
  visibility: hidden;
}

.btn-slider {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: rgba(169, 169, 169, 0.5);
  color: #ffffff;
  border: none;
  padding: 4px 4px;
  pointer-events: fill;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-slider:hover {
  background: rgba(169, 169, 169, 0.8);
}
