.sliderCard {
  background: #ffffff;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid var(--card-border-color, #2B4162);
  box-shadow: 1px 1px 1px var(--card-shadow-color, #2B4162);
  /* overflow: hidden; */
}

.sliderCardExpanded {
  height: 370px; /* expanded height of the card*/
  background: #f5f5f5;
  border: 2px solid #2b4162;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.sliderCardImage {
  border-radius: "5px";
}

/*const sliderCardStyle = {
  background: "#FFFFFF",
  padding: "10px",
  margin: "8px",
  borderRadius: "10px",
  border: "1px solid var(--card-border-color, #2B4162)",
  boxShadow: "1px 1px 1px var(--card-shadow-color, #2B4162)",
  transition: "all 0.5s ease-out",
  height: "70px", // initial height of the card
  overflow: "hidden",
};  

const sliderCardExpandedStyle = {
  ...sliderCardStyle,
  height: "370px", // expanded height of the card
  background: "#F5F5F5",
};

const sliderCardImageStyle = {
  borderRadius: "5px",
};

const sliderCardHoverStyle = {
  border: "2px solid #2B4162",
  boxShadow: "0px 4px 4px rgba(0,0,0,0.4)",
};

*/