.sliderCard {
  background: #ffffff;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  height: 172px;
  border: 1px solid var(--card-border-color, #2B4162);
  box-shadow: 1px 1px 1px var(--card-shadow-color, #2B4162);
  /* overflow: hidden; */
}

.sliderCardImage {
  border-radius: "5px";
}
