.form-input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 8px;
  width: 40%;
  margin-right: 10px;
  font-size: 16px;
  background-color: #f6f6f6;
  color: #333333;
}

.form-button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  margin: 0px 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
}
