body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar-brand {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-brand:hover {
  background-color: transparent;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  padding: 2px 8px;
  border-radius: 25px;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  background-color: #ccc;
  color: #333;
  cursor: pointer;
}

/* .wrapper {
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: #343a40;
  /* padding-top: 60px; */
 */

.nav-link {
  color: white !important;
  text-decoration: none !important;
}

/* Custom css */
.navbar-wrapper{
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: px;
  background-color: #55868C;
  color: white;
}

.navbar-topline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 0px;
}

.navbar-bottomline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px 6px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
